html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: inline; }

body,
code,
pre {
  font-size: 14px; }

img {
  width: 100%; }

:root {
  font-family: 'Open Sans', sans-serif; }

.Wrapper {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr; }

.Content {
  padding: 2em 3em;
  max-width: 900px;
  background-color: white; }

.Header {
  background-color: #477160;
  height: 100px;
  width: 100%;
  position: fixed; }

.Sidebar {
  background-color: whitesmoke; }
  .Sidebar .sidebar-content {
    position: fixed; }

.Footer {
  background-color: #477160;
  position: sticky;
  height: 100px; }
